{% extends 'base.html' %}

{% block content %}
<div class="card my-3 col-4 mx-auto">
  <h5 class="card-header">Login</h5>
  <div class="card-body">
    <form action="/newuser/" enctype="multipart/form-data" method="post">
        <div class="my-3 mx-5">
            <label for="name" class="form-label">Name</label>
            <input id="name" name="name" class="form-control" required>
        </div>
        <div class="my-3 mx-5">
            <label for="email" class="form-label">Email Address</label>
            <input id="email" name="email" class="form-control" required>
        </div>
        <div class="my-3 mx-5">
            <label for="address" class="form-label">ETH Testnet Address</label>
            <input id="address" name="address" class="form-control" required>
        </div>
        <div class="my-3 mx-5">
            <label for="age" class="form-label">Age</label>
            <input id="age" name="age" class="form-control" required>
        </div>
        <div class="my-3 mx-5">
            <label for="height" class="form-label">Confirmed Height (in)</label>
            <input id="height" name="height" class="form-control" required>
        </div>
        <div class="mb-3 mx-5">
            <label for="bio" class="form-label">Short Bio</label>
            <input id="bio" name="bio" class="form-control" required>
        </div>
        <div class="input-group mb-3 mx-3">
            <input id="files" name="files" type="file" class="form-control" required>
            <input type="submit" class="btn btn-primary">
        </div>
    </form>
  </div>
</div>


{% endblock %}
